html {
  scroll-behavior: smooth;
}

body {
  font-family: 'Crimson Text', serif;
  background-color: #80360D;
  color: white;
}

.section {
  height: 100vh;
  width: 100vw;
  padding-top: 5%;
}

#background {
  width: 100vw;
  height: 100vh;
  display: block;
  position: absolute;
  z-index: -1;
}

#background::after {
  content: "";
  opacity: 0.5;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  position: absolute;
  z-index: -1;
  background-size: cover;
  background:
    url('assets/droneBackground.png');
}

.navbar {
  font-weight: 400;
  background-color: rgb(13, 74, 0);
}

#title {
  width: 100vw;
  height: 100vh;
}

#titleText {
  color: white;
  animation-name: title;
  animation-duration: 3s;
  font-size: 5vw;
}

span#magnificent {
  font-size: 10vw;
  animation-name: titleMag;
  animation-duration: 2.5s;
  animation-delay: 0.5s;
  animation-fill-mode: backwards;
}

.card {
  background-color: rgba(171, 112, 13, 0.3);
}

.modal {
  color: black;
}

#emailAddress, #emailSubject, #emailBody {
  background-color: rgba(255, 255, 255, 0.7);
}

@keyframes title {
  from {opacity: 0;}
  to {opacity: 1;}
}

@keyframes titleMag {
  from {opacity: 0;}
  to {opacity: 1;}
}

/* Portrait phones and smaller */
@media screen and (max-width: 480px) {
  #the {
    font-size: 20px;
    left: 5vw;
    top: 10vh;
  }

  #magnificent {
    font-size: 20px;
    left: 2vw;
    top: 20vh;
  }

  #meyersons {
    font-size: 2000px;
    left: 10vw;
    top: 30vh;
  }
}
